<!DOCTYPE html>
<html>
<head>
	<title>Create a Movie</title>
</head>
<body>
	<h1>Create a Movie</h1>
	<form method="POST" enctype="multipart/form-data">
		{{ form.csrf_token }}
		<div>
			{{ form.title.label }} {{ form.title() }}
		</div>

		<div>
			{{ form.description.label }} {{ form.description() }}

		</div>

		<div>
			{{ form.imdb_rating.label }} {{ form.imdb_rating() }}
		</div>

		<div>
			{{ form.year.label }} {{ form.year() }}
		</div>

		<div>
			{{ form.genres.label }}
			{% for subfield in form.genres %}
				{{ subfield() }}
			{% endfor %}
			{% for i in range(4) %}
				{{ form.genres[i] }}
			{% endfor %}
		</div>

		<div>
			{{ form.directors.label }}
			{% for subfield in form.directors %}
				{{ subfield() }}
			{% endfor %}
			{% for i in range(4) %}
				{{ form.directors[i] }}
			{% endfor %}
		</div>

		<div>
			{{ form.image.label }} {{ form.image() }}
		</div>

		<div>
			{{ form.submit() }}
		</div>
	</form>
</body>
</html>