<!DOCTYPE html>
<html>
   <head>
      <title>Umagrsal Movies</title>
      <link rel="stylesheet" href="/static/index_style.css">
   </head>
   <body>
      <header>
         <h1>Umagrsal Movies</h1>
         <nav>
            <ul>
               <li><a href="#">Top Movies</a></li>
               <li><a href="#">Upload</a></li>
               <li><a href="#">About</a></li>
            </ul>
         </nav>
          <form action="{{ url_for('search_results') }}" method="get">
    <input type="text" name="query" placeholder="Search">
    <button type="submit">Search</button>
  </form>
      </header>
      <main>
         <h2>Discover Umagresal Movies</h2>
         <section class="movies">
  <ul>
    {% for movie in movies %}
      <li>
        <a href="/movies/{{ movie.id }}">
          <img src="/static/movie_pictures/{{ movie.id }}.jpg" alt="{{ movie.title }}" style="width: 200px; height: 300px;">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.titel }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
      </main>
      <footer>
         <p>Copyright &copy; 2023 Umagrsal Movies</p>
      </footer>
   </body>
</html>