<!DOCTYPE html>
<html>
   <head>
      <title>Umagrsal Movies</title>
      <link rel="stylesheet" href="/static/index_style.css">
   </head>
   <body>
      <header>
         <h1>Umagrsal Movies</h1>
         <nav>
            <ul>
               <li><a href="#">Top Movies</a></li>
               <li><a href="#">Upload</a></li>
               <li><a href="#">About</a></li>
            </ul>
         </nav>
      </header>
      <main>
         <h2>Discover Umagresal Movies</h2>
         <input type="text" placeholder="Search">
         <div class="filters">
            <select name="year">
              <option value="">Select a year</option>
                {% for year in range(1950, 2024) %}
                  <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <select name="genres">
              <option value="">Select Genre</option>
              {% for genre in genres %}
               <option value="{{ genre.genre }}">{{ genre.genre }}</option>
              {% endfor %}
            </select>
         </div>
         <section class="movies">
            <ul>
              {% for movie in movies %}
              <li>
              <a href="#">{{ movie.title }}</a>
              <img src="/static/movie_pictures/{{ movie.id }}.jpg" style="width: 200px; height: 300px;">
              </li>
              <p> titel: {{movie.titel}}</p>
              {% endfor %}
            </ul>
         </section>
      </main>
      <footer>
         <p>Copyright &copy; 2023 Umagrsal Movies</p>
      </footer>
   </body>
</html>