<!DOCTYPE html>
<html>
   <head>
      <title>Upload a Movie</title>
      <link rel="stylesheet" href="/static/upload_style.css">
      <script>
         function toggleDirectorInputs() {
            var checkbox = document.getElementById("cant-find-director");
            var directorDropdown = document.getElementById("director");
            var nameInput = document.getElementById("director-name-input");
            var lastNameInput = document.getElementById("director-last-name-input");

            if (checkbox.checked) {
               directorDropdown.style.display = "none";
               nameInput.style.display = "block";
               lastNameInput.style.display = "block";
            } else {
               directorDropdown.style.display = "block";
               nameInput.style.display = "none";
               lastNameInput.style.display = "none";
            }
         }

         function toggleGenreInput() {
            var checkbox = document.getElementById("cant-find-genre");
            var genreDropdown = document.getElementById("genre");
            var genreInput = document.getElementById("genre-name-input");

            if (checkbox.checked) {
               genreDropdown.style.display = "none";
               genreInput.style.display = "block";
            } else {
               genreDropdown.style.display = "block";
               genreInput.style.display = "none";
            }
         }
      </script>
   </head>
   <body>
      <h1>Upload a Movie</h1>
      <form method="POST" enctype="multipart/form-data">
          <label for="movie-title">Movie Title:</label>
          <input type="text" id="movie-title" name="movie-title" required>

          <label for="movie-description">Description:</label>
          <textarea id="movie-description" name="movie-description" required></textarea>

          <label for="imdb-rating">IMDB Rating:</label>
          <input type="number" id="imdb-rating" name="imdb-rating" min="0" max="10" step="0.1" required>

          <label for="director">Director:</label>
          <div>
             <input type="checkbox" id="cant-find-director" name="cant-find-director" onchange="toggleDirectorInputs()">
             <label for="cant-find-director">Can't find?</label>
          </div>
          <select id="director" name="director">
            <option value="">Select Director</option>
              {% for director in directors %}
                  <option value="{{ director.id }}_director">{{ director.name+' '+director.last_name }}</option>
              {% endfor %}
          </select>
          <div id="director-name-input" style="display: none;">
             <label for="director-name">Director Name:</label>
             <input type="text" id="director-name" name="director-name" required>
          </div>
          <div id="director-last-name-input" style="display: none;">
             <label for="director-last-name">Director Last Name:</label>
             <input type="text" id="director-last-name" name="director-last-name" required>
          </div>

          <label for="genre">Genre:</label>
          <div>
             <input type="checkbox" id="cant-find-genre" name="cant-find-genre" onchange="toggleGenreInput()">
             <label for="cant-find-genre">Can't find?</label>
          </div>
          <select id="genre" name="genre">
            <option value="">Select Genre</option>
              {% for genre in genres %}
                  <option value="{{ genre.genre }}">{{ genre.genre }}</option>
              {% endfor %}
          </select>
          <div id="genre-name-input" style="display: none;">
             <label for="genre-name">Genre Name:</label>
             <input type="text" id="genre-name" name="genre-name" required>
          </div>

          <label for="year">Year:</label>
          <input type="number" id="year" name="year" min="1900" max="2099" required>

          <label for="movie-image">Image:</label>
          <input type="file" id="movie-image" name="movie-image" accept="image/*" required>

          <input type="submit" value="Submit">
        </form>
   </body>
</html>